*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
  ** [COLOR SCHEME] ** 
**/
body {
  --TEXT-COLOR: whitesmoke;
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #1c2742, #000000);
  --BG-COLOR-HEADER: rgba(219, 219, 219, 0.034);
  --BG-COLOR-TITLE: linear-gradient(to bottom right, #1d2f5e, #1d1d1d46);
  --BORDER-COLOR-01: #d1d1d121;
}

body.light-mode-theme {
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #aaaaaa, #777777);
  --BG-COLOR-HEADER: rgba(236, 236, 236, 0.062);
  --BG-COLOR-TITLE: linear-gradient(to bottom right, #ebe9e9, #5252524d);
  --BORDER-COLOR-01: #afafafc9;
  --TEXT-COLOR: rgb(71, 71, 71);
}

/** 
  ** [GENERAL STYLES] ** 
**/
body {
  font-family: "Poppins", sans-serif;
  background-image: var(--BG-COLOR-MAIN);
  color: var(--TEXT-COLOR);
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  border: 1px solid var(--BORDER-COLOR-01);
  padding: 0.25em 0.5em;
  background: var(--BG-COLOR-TITLE);
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--TEXT-COLOR);
  opacity: 1;
}

a:hover {
  opacity: 0.75;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /** 
  ** [HEADER STYLES] ** 
  **/
  /** 
  ** [MAIN STYLES] ** 
  **/
  /** 
  ** [FOOTER STYLES] ** 
  **/
}
.wrapper .header {
  width: 100%;
  height: auto;
  padding: 1.75em;
  background: var(--BG-COLOR-HEADER);
  border-bottom: 1px solid var(--BORDER-COLOR-01);
}
.wrapper .header .nav {
  display: block;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}
.wrapper .header .nav .nav-responsive-btn {
  display: none;
}
.wrapper .header .nav .navbar-responsive {
  display: none;
}
.wrapper .header .nav .navbar {
  display: block;
  width: 425px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  margin-right: 7em;
  padding: 1em 2em;
  font-size: 1.125rem;
}
.wrapper .header .nav .selected {
  opacity: 0.7;
  cursor: default;
}
.wrapper .header .nav .toggle-container .toggle-btn {
  display: block;
  font-size: 1.75rem;
  margin-right: 1em;
  cursor: pointer;
  padding: 0.085em 0.2em;
  border: none;
  background: none;
}
.wrapper .header .nav .toggle-container .toggle-btn #icon-text {
  color: var(--TEXT-COLOR);
  font-size: 2rem;
  z-index: 3;
}
.wrapper .header .nav .toggle-container .toggle-btn:hover {
  opacity: 0.75;
}
.wrapper .main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main .main-title {
  border: none;
  text-transform: uppercase;
  font-size: 5rem;
  transition: all 1s ease;
}
.wrapper .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3em 2em;
  background: var(--BG-COLOR-HEADER);
  border-top: 1px solid var(--BORDER-COLOR-01);
}
.wrapper .footer .footer-copyright {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/** 
** [MEDIA QUERIES] ** 
**/
@media (max-width: 800px) {
  .wrapper .header .nav {
    position: relative;
    align-items: flex-start;
    transition: all 1s ease;
  }
  .wrapper .header .nav .nav-responsive-btn {
    display: block;
    z-index: 2;
  }
  .wrapper .header .nav .nav-responsive-btn li .icon {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .wrapper .header .nav .nav-responsive-btn li #exit-btn {
    display: none;
    cursor: pointer;
  }
  .wrapper .header .nav .navbar-responsive {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--BG-COLOR-HEADER);
    padding-top: 1.7em;
    display: none;
  }
  @keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
  .wrapper .header .nav .navbar-responsive-open {
    animation: showNav 1s ease forwards;
  }
  .wrapper .header .nav .navbar-responsive-close {
    animation: hideNav 1s ease forwards;
  }
  .wrapper .header .nav .navbar-responsive-open,
  .wrapper .header .nav .navbar-responsive-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--BG-COLOR-HEADER);
    border-bottom: 1px solid var(--BORDER-COLOR-01);
    z-index: 1;
  }
  .wrapper .header .nav .navbar-responsive-open .menu-item,
  .wrapper .header .nav .navbar-responsive-close .menu-item {
    text-align: center;
    width: 50%;
  }
  .wrapper .header .nav .navbar-responsive-open .menu-item:first-child,
  .wrapper .header .nav .navbar-responsive-close .menu-item:first-child {
    padding-bottom: 1em;
  }
  .wrapper .header .nav .navbar-responsive-open .menu-item + .menu-item,
  .wrapper .header .nav .navbar-responsive-close .menu-item + .menu-item {
    padding: 1em 3em;
    border-top: 1px solid var(--BORDER-COLOR-01);
  }
  .wrapper .header .nav .nav-title {
    display: block;
  }
  .wrapper .header .nav .navbar {
    display: none;
    transition: all 1s ease;
  }
  .wrapper .main .main-title {
    font-size: 3.5rem;
    transition: all 1s ease;
  }
}/*# sourceMappingURL=styles.css.map */