*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom right, #cecece, #dadada);
  min-height: 100vh;
}
