*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
.dark-mode-theme {
  --TEXT-COLOR: whitesmoke;
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #1c2742, #000000);
  --BG-COLOR-HEADER: rgba(219, 219, 219, 0.034);
  --BORDER-COLOR-01: #d1d1d121;
}

/** 
  ** [COLOR SCHEME] ** 
**/

.light-mode-theme {
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #d8d8d8, #777777);
  --BG-COLOR-HEADER: rgba(236, 236, 236, 0.062);
  --BORDER-COLOR-01: #36363634;
  --TEXT-COLOR: rgb(71, 71, 71);
}

/** 
  ** [GENERAL STYLES] ** 
**/
body {
  font-family: "Poppins", sans-serif;
  background-image: var(--BG-COLOR-MAIN);
  color: var(--TEXT-COLOR);
  min-height: 100vh;
  // transition: 1.5s ease;
}

h1 {
  font-weight: 500;
  border: 1px solid var(--BORDER-COLOR-01);
  padding: 0.25em 0.5em;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--TEXT-COLOR);
  opacity: 1;
}

a:hover {
  opacity: 0.75;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  // transition: 1s ease;

  /** 
  ** [HEADER STYLES] ** 
  **/

  .header {
    width: 100%;
    padding: 1.75em;
    background: var(--BG-COLOR-HEADER);
    border-bottom: 1px solid var(--BORDER-COLOR-01);

    .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-right: 7em;
        padding: 1em 2em;
        font-size: 1.125rem;
      }

      .selected {
        opacity: 0.7;
        cursor: default;
      }

      .toggle-container {
        .toggle-btn {
          font-size: 1.75rem;
          margin-right: 1em;
          cursor: pointer;
          padding: 0.085em 0.2em;
          border: none;
          background: none;

          #icon-text {
            color: var(--TEXT-COLOR);
            font-size: 2rem;
          }

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-title {
      border: none;
      text-transform: uppercase;
      font-size: 5rem;
    }
  }

  .footer {
    width: 100%;
    padding: 3em 2em;
    background: var(--BG-COLOR-HEADER);
    border-top: 1px solid var(--BORDER-COLOR-01);
  }
}
