*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
  ** [COLOR SCHEME] ** 
**/

body {
  --TEXT-COLOR: whitesmoke;
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #1c2742, #000000);
  --BG-COLOR-HEADER: rgba(219, 219, 219, 0.034);
  --BG-COLOR-TITLE: linear-gradient(to bottom right, #1d2f5e, #1d1d1d46);
  --BORDER-COLOR-01: #d1d1d121;
}

body.light-mode-theme {
  --BG-COLOR-MAIN: linear-gradient(to bottom right, #aaaaaa, #777777);
  --BG-COLOR-HEADER: rgba(236, 236, 236, 0.062);
  --BG-COLOR-TITLE: linear-gradient(to bottom right, #ebe9e9, #5252524d);
  --BORDER-COLOR-01: #afafafc9;
  --TEXT-COLOR: rgb(71, 71, 71);
}

/** 
  ** [GENERAL STYLES] ** 
**/
body {
  font-family: "Poppins", sans-serif;
  background-image: var(--BG-COLOR-MAIN);
  color: var(--TEXT-COLOR);
  min-height: 100vh;
  // transition: 1.5s ease;
}

h1 {
  font-weight: 500;
  border: 1px solid var(--BORDER-COLOR-01);
  padding: 0.25em 0.5em;
  background: var(--BG-COLOR-TITLE);
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--TEXT-COLOR);
  opacity: 1;
}

a:hover {
  opacity: 0.75;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  // transition: 1s ease;

  /** 
  ** [HEADER STYLES] ** 
  **/

  .header {
    width: 100%;
    height: auto;
    padding: 1.75em;
    background: var(--BG-COLOR-HEADER);
    border-bottom: 1px solid var(--BORDER-COLOR-01);

    .nav {
      display: block;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;

      .nav-responsive-btn {
        display: none;
      }

      .navbar-responsive {
        display: none;
      }

      .navbar {
        display: block;
        width: 425px;
        min-width: 400px;
        display: flex;
        justify-content: space-between;
        margin-right: 7em;
        padding: 1em 2em;
        font-size: 1.125rem;
      }

      .selected {
        opacity: 0.7;
        cursor: default;
      }

      .toggle-container {
        .toggle-btn {
          font-size: 1.75rem;
          margin-right: 1em;
          cursor: pointer;
          padding: 0.085em 0.2em;
          border: none;
          background: none;

          #icon-text {
            color: var(--TEXT-COLOR);
            font-size: 2rem;
          }

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  /** 
  ** [MAIN STYLES] ** 
  **/
  .main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-title {
      border: none;
      text-transform: uppercase;
      font-size: 5rem;
      transition: all 1s ease;
    }
  }
  /** 
  ** [FOOTER STYLES] ** 
  **/
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3em 2em;
    background: var(--BG-COLOR-HEADER);
    border-top: 1px solid var(--BORDER-COLOR-01);

    .footer-copyright {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}

/** 
** [MEDIA QUERIES] ** 
**/
@media (max-width: 800px) {
  .wrapper {
    .header {
      .nav {
        position: relative;
        align-items: flex-start;
        transition: all 1s ease;

        .nav-responsive-btn {
          display: block;
          // transition: all 1s ease;

          li {
            .icon {
              font-size: 1.7rem;
              cursor: pointer;
            }

            #exit-btn {
              display: none;
              cursor: pointer;
            }
          }
        }

        .navbar-responsive {
          position: fixed;
          top: -100%;
          bottom: 0;
          left: 25%;
          right: 0;
          margin-top: 1.7em;
          height: 100%;
          display: none;
        }

        @keyframes showNav {
          from {
            top: -100%;
          }
          to {
            top: 0;
          }
        }

        @keyframes hideNav {
          from {
            top: 0;
          }
          to {
            top: -100%;
          }
        }

        .hideNav {
          animation: hideNav 1s ease forwards;
        }

        .navbar-responsive-open {
          display: flex;
          flex-direction: column;
          align-items: center;
          animation: showNav 1s ease forwards;
          width: 50%;

          .menu-item {
            text-align: center;
          }

          .menu-item:first-child {
            padding-bottom: 1em;
          }

          .menu-item + .menu-item {
            padding: 1em 3em;
            border-top: 1px solid var(--BORDER-COLOR-01);
          }
        }

        .nav-title {
          display: block;
        }

        .navbar {
          display: none;
          transition: all 1s ease;
        }
      }
    }
    .main {
      .main-title {
        font-size: 3.5rem;
        transition: all 1s ease;
      }
    }
  }

  // @keyframes showNav {
  //   from {
  //     top: -100%;
  //   }
  //   to {
  //     top: 0;
  //   }
  // }

  // .showNav {
  //   animation: showNav 1s ease forwards;
  // }

  // @keyframes hideNav {
  //   from {
  //     top: 0;
  //   }
  //   to {
  //     top: -100%;
  //   }
  // }

  // .hideNav {
  //   animation: hideNav 1s ease forwards;
  // }

  .hidden {
    display: none;
  }
}
